.button-success {
    background-color: #01AF72;
    color: white;
    /* Para garantir que o texto seja legível */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-danger {
    background-color: #970c02;
    color: white;
    /* Para garantir que o texto seja legível */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
