<div class=" backgrondImage min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm  (ngSubmit)="login()">
                <h1>Entrar</h1>
                <div *ngIf="loginError" class="alert alert-danger">
                  Usuário ou senha estão incorretos.
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                  [(ngModel)]="email"
                  autoComplete="username" 
                  cFormControl 
                  placeholder="Username" 
                  [ngModelOptions]="{standalone: true}"
                  />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    [(ngModel)]="senha"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                    [ngModelOptions]="{standalone: true}"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6" (click)="login()">
                    <span class="marketBtn cursor-pointer">
                      Login
                    </span>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <p class="px-0" class="marketColor">
                      Recuperar Senha?
                    </p>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="imgLogin">
            <img src="assets/img/image/marketMargo.png">
          </c-card>
          
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
