.imgLogin{
    background-color: #01AF72;
   
}

.marketBtn {
    color: white;
    background-color: #01AF72;
    border-radius: 5px;
    padding: 7px 20px;
    border-color: #01AF72;
}

.marketBtn:hover{
    background-color: #07885b;
}

.marketBtn:onclick {
    width: 70px;
    height: 74px;
}

.marketColor{
    color: 394455;
    font-weight: bold;
}