<div
*ngIf="
  cardProdutosCadastrados != null &&
  cardTransacoesHoje != null &&
  cardVendasComInsucesso != null &&
  cardVendasComSucesso != null
"
>
  <app-widgets-dropdown
  [cardProdutosCadastrados]="cardProdutosCadastrados"
  [cardTransacoesHoje]="cardTransacoesHoje"
  [cardVendasComInsucesso]="cardVendasComInsucesso"
  [cardVendasComSucesso]="cardVendasComSucesso"
  ></app-widgets-dropdown>
</div>

<c-card class="mb-4" *ngIf="chatQuantidadeDeVendasHojePorProduto != null">
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Quantidade de Produtos Vendidos por Categoria
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData" [options]="chartPieOptions"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" lg="6" *ngIf="chatQuantidadeProdutosVendidosPorCategoria != null">
      <c-card class="mb-4">
        <c-card-header>
          Vendas Hoje por Produtos
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-card>

<div
*ngIf="
  cardProdutosCadastrados == null &&
  cardTransacoesHoje == null &&
  cardVendasComInsucesso == null &&
  cardVendasComSucesso == null &&
  chatQuantidadeDeVendasHojePorProduto == null &&
  chatQuantidadeProdutosVendidosPorCategoria == null
"
class="d-flex justify-content-center align-items-center"
>
  <img src="../../../assets/img/loading.gif" style="height: 15vh;">
</div>