<app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Quantidade de Produtos Vendidos por Categoria
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData" [options]="chartPieOptions"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Vendas Hoje por Produtos
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="chartBarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-card>
