<c-row>
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      class="mb-4 pb-4"
      color="primary"
      title="{{ cardProdutosCadastrados.descricao }}"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ cardProdutosCadastrados.valor }}
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      title="{{ cardTransacoesHoje.descricao }}"
      class="mb-4 pb-4"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ cardTransacoesHoje.valor }}</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  
  <c-col sm="6" xl="3">
    <c-widget-stat-a
      title="{{ cardVendasComSucesso.descricao }}"
      class="mb-4 pb-4"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ cardVendasComSucesso.valor }}</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a
      title="{{ cardVendasComInsucesso.descricao }}"
      class="mb-4 pb-4"
      color="danger"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{ cardVendasComInsucesso.valor }}</span>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
